body {
  color: black;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.intro{
  margin-left: 3rem;
}

.ending {
  font-size: 8pt;
  text-align: center;
  color: #8F8F8F;
  margin: 0em 2em 2em 2em;
}

.sectionTitle {
  /* width: 548px;
  height: 105px;
  display: flex; */
  margin: 3rem 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h2 {
  font-weight: bold;
  color: #2A7975;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0rem 2rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
}


#custom {
  display: none;
}

/*******************HEADER*********************/
button > img {
  height: 20%;
  width: 20%;
  margin-bottom: 0.5rem;
}

.headerButton {
  border: none;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
}

header {
  background-color: #ffffff;
}

nav > p {
  margin-left: 1rem;
  display: inline-flex;
}
/**************PERSONAL CARDS*******************/

.card-header {
  background-color: #2a7975;
  color: #ffffff;
  padding: 1rem 1rem; 
}

/* .personalCard {
  flex: 0 0 250px;
  background-color: white;
  margin: 41px 34px 85px;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 1372px;
  height: 450px;
  left: 34px;
  top: 148px;
  text-align: center;
  box-shadow: 01px 3px rgba (0, 0, 0, 0.16), 01px 3px rgba (0, 0, 0, 0.23);
}

.personalTitleCard {
  background-color: #2a7975;
  width: 1372px;
  height: 339px;
  border-radius: 5px 5px 0px 0px;
}

.personalTitle {
  width: 701px;
  height: 105px;
  left: 349px;
  top: 276px;
  font-weight: 300;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  color: #ffffff;
  position: absolute;
} */

.personalButton {
  background-color: #b2d8d1;
  width: 240px;
  height: 50px;
  border-radius: 40px;
  font-weight: 600;
  transition-duration: 0.3s;
}

.personalButton:hover, .personalButton:focus {
  background-color: #214B49;
  color: white;
}


/**************Survey*******************/
.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 3rem;
  background-color: #b2d8d1;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.3s;
}

.submitButton:hover, .submitButton:focus {
  background-color: #214B49;
  color: white;
}

.questionLayout {
  vertical-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2A7975;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2A7975;
  cursor: pointer;
}
/**************MEAL CARDS*******************/

.card.card-list {
  flex: 0 0 250px;
  background-color: white;
  margin: 1rem;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 01px 3px rgba (0, 0, 0, 0.16), 01px 3px rgba (0, 0, 0, 0.23);
}

.card-img-top {
  border: 0px 0px 10px 10px;
  display: none;
}

.card-list:hover{
  opacity: 50%;
}

.card-title {
  color: #000000;
  text-align: center;
  margin: 0.5rem 0% 0.5rem 0%;
}
.card-deck {
    margin: 0rem 2rem;
 }

#about {
  margin: 0rem 2rem;
  display: inline-flex;
}


/**************Screen Adjustments*******************/

@media (min-width: 320px ) {
  .card-img-top {
    display: block;
  }
  .card-header {
    padding: 2rem 1rem;
    font-size: 2rem;
    line-height: 2rem; 
  }
}

@media (min-width: 576px) {
  .card-img-top {
    display: block;
  }
  .card-header {
    padding: 3rem 2rem;
    line-height: 2.5rem;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    vertical-align: middle;
    margin: auto;
    font-weight: 500;
    left: 443px;
    top: 683px;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    vertical-align: middle;
    margin: auto;
    font-weight: 300;
  }
  .ending {
    margin: 2rem 3rem;
    text-align: right;
  }

  .personalButton {
  width: 400px;
  height: 50px;
  }

}

@media (min-width: 875px) {
  .ending {
    font-size: 10pt;
  }
  .card-img-top {
    display: block;
  }
  .card-header {
    padding: 3rem 3rem; 
  }
  .card-deck {
    margin: 0rem 6rem;
  }
  #about {
    margin: -1rem 7rem;
    display: inline-flex;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .personalButton {
    width: 600px;
    height: 70px;
    font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
  .ending {
    font-size: 12pt;
  }
  .card-img-top {
    display: block;
  }
  .card-header {
    padding: 8rem 15rem; 
  }
}

/* Colors
primary: #2A7975;
secondar: #B2D8D1;
object color: #E08F54;
#F3DFC4
#F4F4F4
#FFFFFF
text: #000000;
button text: #4F4F4F;
*/
